/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.welcome {
    padding: 50px 40px 90px 40px;
    background-image: url(/assets/toppage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcomecontent {
    background: #fff;
    padding: 4px;
    border-radius: 15px;
    width: 400px;
    margin: 35px auto auto auto;
    opacity: 0.9;
}

.img-thumbnail {
  min-height: 50%;
  max-height: 50%;
  object-fit: contain;
}

.pagination {
  justify-content: center;
}