<header class="mt-2 mb-2">
  <nav class="navbar navbar-expand-sm navbar-dark bg-white text-dark">
    <a class="navbar-brand text-dark" href="/">FRUGIDAYS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        　<%= link_to "新規アカウント登録", "signup", class: "btn btn-outline-dark mr-2" %>
        　<%= link_to "ログイン", "#", class: "btn btn-outline-dark" %>
      </ul>
    </div>
  </nav>
</header>