<aside class="col-sm-3 mt-5 text-center">
  <a class="btn btn-info btn-block pr-5 pl-5 pt-3 pb-3" href="/posts/new">新規投稿</a>
    <div class="list-group mt-4">
      <a href="/" class="list-group-item list-group-item-action">最新の投稿</a>
      <a href="/users" class="list-group-item list-group-item-action">ユーザ一覧</a>
    </div>
</aside>