<div class="row">
  <div class="col-sm-12 welcome">
    <div class="text-center welcomecontent">
      <h1 class="mb-3 pt-3">FURUGIDAYS</h1>
      <span class="pb-5">みんなの古着で日々を彩ろう。</span>
      <div class="nav-item"><%= link_to "新規アカウント登録", signup_path, class: "btn btn-dark mt-5 mb-4" %></div>
      <div class="nav-item"><%= link_to "ログイン", login_path, class: "btn btn-dark mb-4 pl-5 pr-5" %></div>
    </div>
  </div>
</div>