<div class="welcome">
    <div class="text-center">
      <h1 class="mb-3">FURUGIDAYS</h1>
      <span>みんなのコーディネートで古着を広めよう。</span>
    </div>
    <div class="text-center">
      <a class="btn btn-dark mr-3 mt-5 mb-4" href="signup">新規アカウント登録</a>
      <a class="btn btn-dark mt-5 mb-4" href="login">ログイン</a>
    </div>
</div>